
body {
    font-family: Arial, sans-serif;
    background-color: #4381C1;
    text-align: center;
    margin: 0;
    padding: 100px;
}

h1 {
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 5px;
    padding-right: 330px;
    animation: welcome 1s ease 0s 1 normal forwards;
}

h2 {
    font-size: 36px;
    color: #FFFFFF;
    margin-top: -65px;
    padding-left: 200px;
    animation: welcome 1s ease 1s 1 normal forwards;
    animation-delay: 1000ms;
    animation-fill-mode: backwards;
}

p {
    font-size: 18px;
    color: #666666;
    margin-top: 20px;
}
/*------------------------------------------------------------------------*/

/*KeyFrames*/

@keyframes welcome {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Button1 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*------------------------------------------------------------------------*/

/* Buttons */
.button-48 {
    
    animation: Button1 1s ease 2s 1 normal backwards;
    background-color: #020202;
    border-radius: 15px;
    border-width: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    top: 100px;
    left: 140px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

    .button-48:before {
        animation: opacityFallbackOut .5s step-end forwards;
        backface-visibility: hidden;
        background-color: #CC2936;
        border-radius: 15px;
        clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
        width: 100%;
    }

    .button-48:hover:before {
        animation: opacityFallbackIn 0s step-start forwards;
        border-radius: 15px;
        clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    }

    .button-48:after {
        background-color: #CC2936;
        border-radius: 15px;
    }

    .button-48 span {
        z-index: 1;
        border-radius: 15px;
        position: relative;
    }


.button-58 {
    
    animation: Button1 1s ease 2.1s 1 normal backwards;
    background-color: #020202;
    border-radius: 15px;
    border-width: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    top: 160px;
    left: -140px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

    .button-58:before {
        animation: opacityFallbackOut .5s step-end forwards;
        backface-visibility: hidden;
        background-color: #CC2936;
        border-radius: 15px;
        clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
        width: 100%;
    }

    .button-58:hover:before {
        animation: opacityFallbackIn 0s step-start forwards;
        border-radius: 15px;
        clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    }

    .button-58:after {
        background-color: #CC2936;
        border-radius: 15px;
    }

    .button-58 span {
        z-index: 1;
        border-radius: 15px;
        position: relative;
    }



.button-68 {
    animation: Button1 1s ease 2.2s 1 normal backwards;
    background-color: #020202;
    border-radius: 15px;
    border-width: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    top: 220px;
    left: -400px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

    .button-68:before {
        animation: opacityFallbackOut .5s step-end forwards;
        backface-visibility: hidden;
        background-color: #CC2936;
        border-radius: 15px;
        clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
        width: 100%;
    }

    .button-68:hover:before {
        animation: opacityFallbackIn 0s step-start forwards;
        border-radius: 15px;
        clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    }

    .button-68:after {
        background-color: #CC2936;
        border-radius: 15px;
    }

    .button-68 span {
        z-index: 1;
        border-radius: 15px;
        position: relative;
    }